* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header{
    height: 880px;
}

html {
    scroll-behavior: smooth;
  }

.brand-title {
    /* font-family: 'Cormorant Garamond', serif; */
    text-align:center;
    font-size: 3rem;
    margin: 0.5rem;
    color: #99013e;
    top: 500px;
}

.container {
    justify-content: center;
    align-items: center;
    border-bottom: 1rem;
}



.center{
    text-align:center;
    font-size: 2.5rem;
    margin: 0.5rem;
    color: #99013e;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #99013e;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    
    text-decoration: none;
    font-size: 1.2rem;
    position:relative;
    display:inline-block;
    margin:1rem;
    color:#e49f96;
    transition: all 0.3s ;
}
.navbar-links li a::after {
    position:absolute;
    opacity:0;
    transition: all 0.3s;
}

.navbar-links li a:hover, .navbar-links li a:focus{
    color:#99013e;
    transform:scale(1.2,1.2);  
}

.navbar-links li a:hover::after{
    opacity:1;  
}

.toggle-button {
    position: fixed;
    top: 2rem;
    right: 2rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 1;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #99013e;
    box-shadow: 1.5px 1.5px #e49f96;
    border-radius: 10px;
    transition: all 0.6s 
}

.img-circle_person{
    border-radius: 50%;
    width: 400px;
    height:400px;
    display: block;
    margin: 5px auto;
    max-width: 100%;
}

.img_logo{
    border-radius: 50%;
    display: block;
    margin: 50px auto;
    max-width: 100%;
    -webkit-animation:spin 23s linear infinite;
    -moz-animation:spin 23s linear infinite;
    animation:spin 23s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

h2{
    font-size: 2rem;
    text-align:center;
}

p{
    font-size: 1rem;
    text-align:center;
    border: 1rem;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.p1{
    color: white;
    font-size: 1.25rem;
    text-align:center;
    border: 1rem;
    display:block;
    right:1rem;
    left:1rem;
    text-align:justify;
}
.final-final{
    font-size: 1rem;
    text-align:center;
    color:#99013e;
    text-decoration:none;
}

.social-icons{
    border-radius: 100%;
    width: 7%;
    margin-top: 50px;
    margin-bottom: 1px;
    color:#99013e;
}
.walking_beach {
    width: 25%;
    display: block;
    margin: 50px auto;
    max-width: 100%;


}
.espaco {
    padding-left: 50px;
  }

#quemsou{
    background-color: #99013e;
    display: grid;
    align-items:center;
    color:#e49f96;
    position:relative;
    white-space: pre-line;
    height: 100vh;

}


#grupodeleitura{
    background-color: #e49f96;
    display: grid;
    align-items:center;
    color:#99013e;
    position:relative;
    white-space: pre-line;
    white-space: pre-line;
    height: 100vh;
    
    
}

#especialidade{
    background-color: #99013e;
    display: grid;
    align-items:center;
    color:#e49f96;
    position:relative;
    white-space: pre-line;
    height: 100vh;
}

#contato_agendesuaconsulta{
    background-color: #e49f96;
    display: grid;
    align-items:center;
    color:#99013e;
    position:relative;
    white-space: pre-line;
    white-space: pre-line;
    height: 100vh;
}

fieldset{
    border:0;
    width: 50vw; 
}

input, select, textarea {
    position: relative;
    border-radius: 5px;
    border: 0;
    display: flex;
    width:60vw;
    height: 40px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form_fields {
    position: relative;
    text-align: left;
    border-left: 50vw;
    font-size: 18px;
  }
  .button {
    position: relative;
    margin-left: 1em;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
    background-color: #e49f96;
    color:#99013e;
    width: 100px;
    border: 0;
  }
.button:hover{
    background-color:#99013e;
    color: #e49f96;
}

#link_ric_hacks{
    text-decoration: none;
    color: #99013e;
    font-size: 1rem;
}
/* BACKTOTOP button */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    transform: rotate(-90deg);
  }
  
  #myBtn:hover {
    color: #555; /* Add a dark-grey background on hover */
  }



@media (max-width: 930px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }
    #myBtn {
        display: none;}

    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .img_logo{
        margin-top:20px;
        border:50px;
        width: 125px;
        height:125px;
        display: block;
        max-width: 100%;
    }

    .brand-title {
        text-align:center;
        font-size: 2rem;
        margin: 0.5rem;
        color: #99013e;
        top: 500px;
    }
    
    .img-circle_person{
        border-radius: 50%;
        width: 300px;
        height:300px;
        display: block;
        margin: 5px auto;
        max-width: 100%;
    }

    .social-icons{
        border-radius: 100%;
        width: 30%;
    }
    input, select, textarea {
        position: relative;
        border-radius: 5px;
        border: 0;
        display: flex;
        width:70vw;
        height: 40px;
    }

    #grupodeleitura{
        background-image: url(images/walking_beach.png);
        background-size: cover;
        background-color: #e49f96;
        display: grid;
        align-items:center;
        color:#99013e;
        position:relative;
        white-space: pre-line;
        white-space: pre-line;
        height: 100vh;
    }

    header{
        height: 380px;
    }

}