* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color:#e49f96;
}

header{
    height: 450px;
}


.brand-title {
    text-align:center;
    font-size: 1.5rem;
    margin: .5rem;
}


.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #99013e;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    font-size: 1.2rem;
    position:relative;
    display:inline-block;
    margin:1rem;
    color:#e49f96;
    transition: all 0.3s 
}
.navbar-links li a::after {
    position:absolute;
    opacity:0;
    transition: all 0.3s 
}

.navbar-links li a:hover, .navbar-links li a:focus{
    color:#99013e;
    transform:scale(1.2,1.2);  
}

.navbar-links li a:hover::after{
    opacity:1;  
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #99013e;
    border-radius: 10px;
    transition: all 0.6s 
}

.img-circle_person{
    border-radius: 50%;
    width: 400px;
    height:400px;
    display: block;
    margin: 5px auto;
    max-width: 100%;
}

.img_logo{
    border-radius: 50%;
    width: 150px;
    height:150px;
    display: block;
    margin: 50px auto;
    max-width: 100%;
}
#quemsou{
    background-color: #99013e;
    display: flex;
    align-items:center;
    color:#e49f96;
    position:relative;
    white-space: pre-line;
    height:600px;
    
}

#quemsou h2{
    display: flex;
    align-items:cneter;
    color:#e49f96;   
}

#grupodeleitura{
    background-color: #e49f96;
    text-align:center;
    color:#99013e;
    position:relative;
    white-space: pre-line;
    word-break: break-word;
    
}

#especialidade{
    background-color: #99013e;
    text-align:center;
    color:#e49f96;
    white-space: pre-line;
    word-break: break-word;
    
}

#contato_agendesuaconsulta{
    background-color: #e49f96;
    text-align:center;
    color:#99013e;
    white-space: pre-line;
    word-break: break-word;
}


@media (max-width: 930px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .img_logo{
        border-radius: 50%;
        width: 150px;
        height:150px;
        display: block;
        margin: 50px auto;
        max-width: 100%;
    }
}